@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";
@import "attributes";
@import "categories";
@import "products";

.navbar-expand-lg
{
  padding: 15px;
}

body{
  overflow-y: overlay;
  background-color: #585f65;
}


.field
{  
  background-color: #343a40;
}

.table td{
  border-top: 0px;
}

.sideMenu{
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #5c6369;
  transform: translateX(-300%);
  transition: transform .4s ease-in-out;
  color: #eaf5ff;
}

.sideMenu.show{  
  transform: none;
}

.inaction::before{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1039;
  width: 100vw;
  height: 100vh;
  content: "";
  background-color: rgba(0,0,0,.7);
}

i.fa{
  font-size: 30px;
  padding: 5px;
  cursor: pointer;
  color: #eaf5ff;
}
i.fa:hover{
  background-color: rgba(0,0,0,.5);
  border: 1px, solid;
  border-radius: 5px; 
}
.btn:active,
i.fa:active{
  transform: scale(0.95, 0.95);
}

.fa-shopping-cart:active{
  transform: scale(1, 1);
}

#quantity-product{
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 24px;
  height: 24px;
}











.childs-menu
{
  position: absolute;
  top: 0px;
  right: -150px;
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.childs-menu > li
{
  position: relative;
  height: 30px;
  background: #999999;
}
.childs-menu > li:hover { background: #CCCCCC; }


.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
  display: inline;
}
.top-level-menu a:hover { color: #000000; }

.top-level-menu > li
{
  position: relative;
  float: left;
  height: 30px;
  width: 150px;
  background: #999999;
}
