@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";
@import "attributes";
@import "categories";
@import "products";

.navbar-expand-lg
{
  padding: 15px;
}

body{
  overflow-y: overlay;
  background-color: #585f65;
}


.field
{  
  background-color: #343a40;
}

.table td{
  border-top: 0px;
}

.sideMenu{
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #5c6369;
  transform: translateX(-120%);
  transition: transform .4s ease-in-out;
  color: #eaf5ff;
}

.sideMenu.show{  
  transform: none;
}

.inaction::before{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1039;
    width: 100vw;
    height: 100vh;
    content: "";
    background-color: rgba(0,0,0,.7);
}

.closeSideMenu{
  font-size: 30px;
  padding: 3px;
  cursor: pointer;
}
.closeSideMenu:hover{
  background-color: rgba(0,0,0,.5);
  border: 1px, solid;
  border-radius: 5px; 
}
.btn:active,
.closeSideMenu:active{
  transform: scale(0.95, 0.95);
}

