@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "attributes";
@import "categories";
@import "products";

.navbar-expand-lg
{
  padding: 15px;
}

body{
  overflow-y: overlay;
  background-color: #e8e8e8;
}

.field
{
  box-shadow: 2px 2px 10px 1px;
  background-color: white;
}

