.active-tab
{
  background-color: #cccccc;
}

.fa-caret-right
{
  float: right;
  padding-right: 5px;
  padding-top: 3px
}

.need-to-fill
{
  box-shadow: inset 0 0 15px rgba(255, 25, 0, 8%);
  border-color: #cc0000;
}
